<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="h3 text-red">※ 證券[舊客戶]加開：請點選欲加開之類別</div>
    </div>
    <div class="col-md-3 col-xs-6">
        @Html.ImageActionLink("~/Content/Image/Open/Customer-Credit-Add.jpg", "index", "CreditOpen", null, new { @class = "img-responsive", @alt = "舊戶加開「信用」", @title = "舊戶加開「信用」" })
    </div>
    <div class="col-md-3 col-xs-6">
        @Html.ImageActionLink("~/Content/Image/Open/Customer-BorrowLend.jpg", "index", "BorrowLendOpen", null, new { @class = "img-responsive", @alt = "舊戶加開「款項借貸」", @title = "舊戶加開「款項借貸」" })
    </div>
    <div class="col-md-3 col-xs-6">
        @Html.ImageActionLink("~/Content/Image/Open/Customer-BorrowLendAnyUse.jpg", "index", "BorrowLendAnyUseOpen", null, new { @class = "img-responsive", @alt = "舊戶加開「不限用途款項借貸」", @title = "舊戶加開「不限用途款項借貸」" })
    </div>
    <div class="col-md-3 col-xs-6">
        @Html.ImageActionLink("~/Content/Image/Open/Open-Subbrokerage.jpg", "index", "SubBrokerage", null, new { @class = "img-responsive", @alt = "舊戶加開「複委託」", @title = "舊戶加開「複委託」" })
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="h3 text-red">※ 預約開戶</div>
    </div>
    <div class="col-md-3 col-xs-6">
        @Html.ImageActionLink("~/Content/Image/Open/Reserve.jpg", "Index", "Reserve", null, new { @class = "img-responsive", @alt = "預約開戶", @title = "預約開戶" })
    </div>
</div>
