@*@using Dcn.SqlClient.ViewModels.Front
    @using CaptchaMvc.HtmlHelpers;

    @model DcnSsoBirthdayValidateViewModels
    @{
        ViewBag.Title = "線上開戶 - 客戶交易帳號驗證";
        ViewBag.PageDescription = "大昌證券客戶驗證，請輸入帳號及密碼和驗證碼，";
        ViewBag.PageKeywords = "客戶交易帳號驗證,";
        ViewBag.MasterPagePanelHeadTitle = "線上開戶";
    }

    @using (Html.BeginForm("Index", "DcnSsoPassLogin", FormMethod.Post, new { @id = "MyForm", @AutoComplete = "Off", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="alert alert-danger col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 text-center">
                    <h2></h2>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <div title="證券 HTML5 版">
                        <span class="badge">網路下單密碼，非線上開戶密碼</span>
                    </div>
                    <hr class="form-control-hr-space">
                </div>
            </div>
            @{Html.RenderPartial("FormMessage/_RequiredTextPartial");}
            <div class="form-group">
                @Html.Label("出生日期", new { @class = "col-md-3 col-sm-3 col-xs-12 control-label", @for = "Account" })
                <div class="col-md-7 col-sm-7 col-xs-12 ">
                    @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control text-uppercase", @placeholder = "yyyy/mm/dd", @title = "請輸入「出生日期」(範例：yyyy/mm/dd)", @onclick = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("驗證碼", new { @class = "col-md-3 col-sm-3 col-xs-12 control-label", @for = "CaptchaInputText" })
                <div class="col-md-7 col-sm-7 col-xs-12 ">
                    @{
                        CaptchaMvc.Models.ParameterModel[] catchaParams = new CaptchaMvc.Models.ParameterModel[] {
                            new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.InputTextAttribute , "請輸入驗證碼"),
                            new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.PartialViewNameAttribute, "_Captcha"),
                            new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.CaptchaNotValidViewDataKey, true),
                            new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.RefreshTextAttribute, "點我更換圖片"),
                            new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.ErrorAttribute, "輸入錯誤"),
                            new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.IsRequiredAttribute, true),
                            new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.RequiredMessageAttribute, "驗證碼 欄位(必填)")
                        };
                    }
                    @Html.Captcha(4, catchaParams)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <hr class="form-control-hr-space">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4 col-xs-6">
                    <input type="submit" title="確定登入" class="btn btn-danger btn-block" value="確定" />
                </div>
                <div class="col-md-4 col-xs-6">
                    @Html.ActionLink("返回首頁", "index", "default", null, new { @class = "btn btn-primary btn-block", @title = "返回首頁" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <hr class="form-control-hr-space">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8 alert alert-warning">
                    <div class="h4">
                        出生年月日身分驗證
                    </div>
                </div>
            </div>
        </div>
    }

    @section Scripts{
        @Scripts.Render("~/Scripts/jqueryval")

        <script type="text/javascript">
            Dcn.Utility.SetInputMaxLength();
            $(function () {
                $("#MyForm").submit(function (event) {
                    Dcn.Message.FormSubmit();
                });
            })
        </script>

        @if (TempData["message"] != null)
        {
            <script type="text/javascript">
                var message = @Html.Raw(TempData["message"]);
                Dcn.Message.array("訊息",　message);
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    Dcn.Utility.CheckBorwser();
                });
            </script>
        }

        @{Html.RenderPartial("_FrontMemberInfoPartial");}
    }*@



@*----------------------------------------------------------------*@

@using Dcn.SqlClient.ViewModels.Front
@using CaptchaMvc.HtmlHelpers;

@model DcnSsoBirthdayValidateViewModels
@{
    ViewBag.Title = "線上開戶 - 客戶開戶帳號生日驗證";
    ViewBag.PageDescription = "大昌證券客戶帳號生日驗證，請輸入帳號及生日和驗證碼，";
    ViewBag.PageKeywords = "客戶開戶帳號驗證,";
    ViewBag.MasterPagePanelHeadTitle = "線上開戶";
}

@using (Html.BeginForm("Index", "DcnSsoBirthdayValidate", FormMethod.Post, new { @id = "MyForm", @AutoComplete = "Off", @role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="alert alert-danger col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 text-center">
                <h2>客戶開戶帳號驗證</h2>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div title="證券 HTML5 版">
                    <span class="badge">開戶帳號及生日，非網路下單</span>
                </div>
                <hr class="form-control-hr-space">
            </div>
        </div>
        @{Html.RenderPartial("FormMessage/_RequiredTextPartial");}
        <div class="form-group">
            @Html.Label("身分證字號", new { @class = "col-md-3 col-sm-3 col-xs-12 control-label", @for = "Account" })
            <div class="col-md-7 col-sm-7 col-xs-12 ">
                @Html.TextBoxFor(model => model.Account, new { @class = "form-control text-uppercase", @placeholder = "請輸入「身份證字號」", @title = "請輸入「身份證字號」", @MaxLength = "10", @AutoComplete = "Off" })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("出生日期", new { @class = "col-md-3 col-sm-3 col-xs-12 control-label", @for = "Birthday" })
            <div class="col-md-7 col-sm-7 col-xs-12 ">
                @Html.TextBoxFor(model => model.Birthday, "{0:yyyy/MM/dd}", new { @class = "form-control Wdate", @placeholder = "yyyymmdd (範例:1911/01/01)", @title = "請輸入「出生日期」(範例：1911/01/01)", @onclick = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("驗證碼", new { @class = "col-md-3 col-sm-3 col-xs-12 control-label", @for = "CaptchaInputText" })
            <div class="col-md-7 col-sm-7 col-xs-12 ">
                @{
                    CaptchaMvc.Models.ParameterModel[] catchaParams = new CaptchaMvc.Models.ParameterModel[] {
                        new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.InputTextAttribute , "請輸入驗證碼"),
                        new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.PartialViewNameAttribute, "_Captcha"),
                        new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.CaptchaNotValidViewDataKey, true),
                        new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.RefreshTextAttribute, "點我更換圖片"),
                        new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.ErrorAttribute, "輸入錯誤"),
                        new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.IsRequiredAttribute, true),
                        new CaptchaMvc.Models.ParameterModel(CaptchaMvc.Infrastructure.DefaultCaptchaManager.RequiredMessageAttribute, "驗證碼 欄位(必填)")
                    };
                }
                @Html.Captcha(4, catchaParams)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <hr class="form-control-hr-space">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4 col-xs-6">
                <input type="submit" title="確定登入" class="btn btn-danger btn-block" value="確定" />
            </div>
            <div class="col-md-4 col-xs-6">
                @Html.ActionLink("返回首頁", "index", "default", null, new { @class = "btn btn-primary btn-block", @title = "返回首頁" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <hr class="form-control-hr-space">
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/Scripts/jqueryval")
    @Scripts.Render("~/Scripts/WdatePicker")

    <script type="text/javascript">
        Dcn.Utility.SetInputMaxLength();
        $(function () {
            $("#MyForm").submit(function (event) {
                Dcn.Message.FormSubmit();
            });
        })
    </script>

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(TempData["message"]);
            Dcn.Message.array("訊息",　message);
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function () {
                Dcn.Utility.CheckBorwser();
            });
        </script>
    }

    @{Html.RenderPartial("_FrontMemberInfoPartial");}
}
